START {
        # do not delete this entry!
        recover         cmd="/usr/sbin/cyrus ctl_cyrusdb -r"
  
        # this is only necessary if idlemethod is set to "idled" in imapd.conf
        #idled          cmd="idled"

        # this is useful on backend nodes of a Murder cluster
        # it causes the backend to syncronize its mailbox list with
        # the mupdate master upon startup
        #mupdatepush   cmd="/usr/sbin/cyrus ctl_mboxlist -m"

        # this is recommended if using duplicate delivery suppression
        delprune        cmd="/usr/sbin/cyrus expire -E 3"
        # this is recommended if caching TLS sessions
        tlsprune        cmd="/usr/sbin/cyrus tls_prune"
{% if cyrus_sync_client %}
        syncclient       cmd="/usr/lib/cyrus/bin/sync_client -r"
{% endif %}

}

SERVICES {
	# --- Normal cyrus spool, or Murder backends ---
	# add or remove based on preferences
{% if cyrus_imap %}
	imap		cmd="imapd -U 30" listen="imap" prefork=0 maxchild=100
{% endif %}
{% if cyrus_imaps %}
	imaps		cmd="imapd -s -U 30" listen="imaps" prefork=0 maxchild=100
{% endif %}
{% if cyrus_pop3 %}%
	pop3		cmd="pop3d -U 30" listen="pop3" prefork=0 maxchild=50
{% endif %}
{% if cyrus_pop3s %}
	pop3s		cmd="pop3d -s -U 30" listen="pop3s" prefork=0 maxchild=50
{% endif %}
{% if cyrus_nntp %}
	nntp		cmd="nntpd -U 30" listen="nntp" prefork=0 maxchild=100
{% endif %}
{% if cyrus_nntps %}
	nntps		cmd="nntpd -s -U 30" listen="nntps" prefork=0 maxchild=100
{% endif %}
{% if cyrus_http %}
	http		cmd="httpd -U 30" listen="8008" prefork=0 maxchild=100
{% endif %}
{% if cyrus_https %}
	https		cmd="httpd -s -U 30" listen="8443" prefork=0 maxchild=100
{% endif %}


	# At least one form of LMTP is required for delivery
	# (you must keep the Unix socket name in sync with imap.conf)
{% if cyrus_lmtp %}
	lmtp		cmd="{{cyrus_lmtpd_command}}" listen="{{cyrus_lmtpsocket}}" prefork=0 maxchild=20
{% endif %}
{% if cyrus_lmtpunix %}
	lmtpunix	cmd="{{cyrus_lmtpd_command}}" listen="{{cyrus_lmtpunixsocket}}" prefork=0 maxchild=20
{% endif %}
	# ----------------------------------------------

	# useful if you need to give users remote access to sieve
	# by default, we limit this to localhost in Debian
{% if cyrus_sieve %}
  	sieve		cmd="timsieved" listen="localhost:sieve" prefork=0 maxchild=100
{% endif %}

	# this one is needed for the notification services
{% if cyrus_notify %}
	notify		cmd="notifyd" listen="/var/run/cyrus/socket/notify" proto="udp" prefork=1
{% endif %}

	# --- Murder frontends -------------------------
	# enable these and disable the matching services above,
	# except for sieve (which deals automatically with Murder)

	# mupdate database service - must prefork at least 1
	# (mupdate slaves)
{% if cyrus_mupdate %}
	mupdate       cmd="mupdate" listen=3905 prefork=1
{% elif cyrus_mupdate_master %}
	# (mupdate master, only one in the entire cluster)
	mupdate       cmd="mupdate -m" listen=3905 prefork=1
{% endif %}

	# proxies that will connect to the backends
{% if cyrus_imap_proxy %}
	#imap		cmd="proxyd" listen="imap" prefork=0 maxchild=100
{% endif %}
{% if cyrus_imaps_proxy %}
	#imaps		cmd="proxyd -s" listen="imaps" prefork=0 maxchild=100
{% endif %}
{% if cyrus_pop3_proxy %}
	#pop3		cmd="pop3proxyd" listen="pop3" prefork=0 maxchild=50
{% endif %}
{% if cyrus_pop3s_proxy %}
	#pop3s		cmd="pop3proxyd -s" listen="pop3s" prefork=0 maxchild=50
{% endif %}
{% if cyrus_lmtp_proxy %}
	#lmtp		cmd="lmtpproxyd" listen="lmtp" prefork=1 maxchild=20
{% endif %}
	# ----------------------------------------------
}

EVENTS {
	# this is required
	checkpoint	cmd="/usr/sbin/cyrus ctl_cyrusdb -c" period=30

	# this is only necessary if using duplicate delivery suppression
	delprune	cmd="/usr/sbin/cyrus expire -E 3" at=0401

	# this is only necessary if caching TLS sessions
	tlsprune	cmd="/usr/sbin/cyrus tls_prune" at=0401

	# indexing of mailboxes for server side fulltext searches

	# reindex changed mailboxes (fulltext) approximately every other hour
{% if cyrus_squatter %}
	squatter1	cmd="/usr/bin/nice -n 19 /usr/sbin/cyrus squatter -s" period={{ cyrus_squatter_period | default(120) }}
{% endif %}

	# reindex all mailboxes (fulltext) daily
{% if cyrus_squatter_a %}
	squattera	cmd="/usr/sbin/cyrus squatter" at={{ cyrus_squatter_at | default('0517') }}
{% endif %}

}

