{% macro ifdef(key,value,def) %}
{% if value is defined %}
{{key}}: {{value}}
{% elif def is defined %}
{{key}}: {{def}}
{% endif %}
{% endmacro %}

# Debian Cyrus imapd.conf
# $Id: imapd.conf 565 2006-08-14 16:51:28Z sven $
# See imapd.conf(5) for more information and more options

# Configuration directory
configdirectory: {{ cyrus_configdirectory | default('/var/lib/cyrus') }}

# Which partition to use for default mailboxes
defaultpartition: {{ cyrus_defaultpartition | default('default') }}
partition-default: {{ cyrus_partition_default | default('/var/spool/cyrus/mail') }}

# News setup
partition-news: {{ cyrus_partition_news | default('/var/spool/cyrus/news') }}
newsspool: {{ cyrus_newsspool | default('/var/spool/news') }}


# Alternate namespace
# If enabled, activate the alternate namespace as documented in
# /usr/share/doc/cyrus-doc-2.2/html/altnamespace.html, where an user's
# subfolders are in the same level as the INBOX
# See also userprefix and sharedprefix on imapd.conf(5)
altnamespace: {{ cyrus_altnamespace | default('no') }}

# UNIX Hierarchy Convention
# Set to yes, and cyrus will accept dots in names, and use the forward
# slash "/" to delimit levels of the hierarchy. This is done by converting
# internally all dots to "^", and all "/" to dots. So the "rabbit.holes"
# mailbox of user "helmer.fudd" is stored in "user.elmer^fud.rabbit^holes"
unixhierarchysep: {{ cyrus_unixhierarchysep | default('no') }}

# Rejecting illegal characters in headers
# Headers of RFC2882 messages must not have characters with the 8th bit
# set. However, too many badly-written MUAs generate this, including most
# spamware. Enable this to reject such messages.
#reject8bit: yes
{{ ifdef('reject8bit', cyrus_reject8bit) }}

# Munging illegal characters in headers
# Headers of RFC2882 messages must not have characters with the 8th bit
# set. However, too many badly-written MUAs generate this, including most
# spamware. If you kept reject8bit disabled, you can choose to leave the
# crappage untouched by disabling this (if you don't care that IMAP SEARCH
# won't work right anymore.
#munge8bit: no
{{ ifdef('munge8bit', cyrus_munge8bit) }}

# Forcing recipient user to lowercase
# Cyrus 2.2 is case-sensitive.  If all your mail users are in lowercase, it is
# probably a very good idea to set lmtp_downcase_rcpt to true.  This is set by
# default, per RFC2821. This was not set by default in debian versions up to
# and including 2.2.12-4.
{{ ifdef('lmtp_downcase_rcpt', cyrus_lmtp_downcase_rcpt, 'yes') }}

# Uncomment the following and add the space-separated users who
# have admin rights for all services.
{{ ifdef('admins', cyrus_admins) }}

# Space-separated list of users that have lmtp "admin" status (i.e. that
# can deliver email through TCP/IP lmtp). If specified, this parameter
# overrides the "admins" parameter above
#lmtp_admins: postman
{{ ifdef('lmtp_admins', cyrus_lmtp_admins) }}

# Space-separated list of users that have mupdate "admin" status, in
# addition to those in the admins: entry above. Note that mupdate slaves and
# backends in a Murder cluster need to autenticate against the mupdate master
# as admin users.
#mupdate_admins: mupdateman
{{ ifdef('mupdate_admins', cyrus_mupdate_admins) }}

# Space-separated list of users that have imapd "admin" status, in
# addition to those in the admins: entry above
#imap_admins: cyrus
{{ ifdef('imap_admins', cyrus_imap_admins) }}

# Space-separated list of users that have sieve "admin" status, in
# addition to those in the admins: entry above
#sieve_admins: cyrus
{{ ifdef('sieve_admins', cyrus_sieve_admins) }}

# List of users and groups that are allowed to proxy for other users,
# seperated by spaces.  Any user listed in this will be allowed to login
# for any other user.  Like "admins:" above, you can have imap_proxyservers
# and sieve_proxyservers.
#proxyservers: cyrus
{{ ifdef('proxyservers', cyrus_proxyservers) }}

# No anonymous logins
{{ ifdef('allowanonymouslogin', cyrus_allowanonymouslogin, 'no') }}

# Minimum time between POP mail fetches in minutes
{{ ifdef('popminpoll', cyrus_popminpoll, '1') }}

# If nonzero, normal users may create their own IMAP accounts by creating
# the mailbox INBOX.  The user's quota is set to the value if it is positive,
# otherwise the user has unlimited quota.
{{ ifdef('autocreate_quota', cyrus_autocreatequota, '0') }}

# umask used by Cyrus programs
umask: {{ cyrus_umask | default ('077') }}

# Sendmail binary location
# DUE TO A BUG, Cyrus sends CRLF EOLs to this program. This breaks Exim 3.
# For now, to work around the bug, set this to a wrapper that calls
# /usr/sbin/sendmail -dropcr instead if you use Exim 3.
#sendmail: /usr/sbin/sendmail
{{ ifdef('sendmail', cyrus_sendmail) }}

# If enabled, cyrdeliver will look for Sieve scripts in user's home
# directories: ~user/.sieve.
sieveusehomedir: {{ cyrus_sieveusehomedir | default('false') }}

# If sieveusehomedir is false, this directory is searched for Sieve scripts.
sievedir: {{ cyrus_sievedir | default('/var/spool/sieve') }}

# notifyd(8) method to use for "MAIL" notifications.  If not set, "MAIL"
# notifications are disabled.  Valid methods are: null, log, zephyr
#mailnotifier: zephyr
{{ ifdef('mailnotifier', cyrus_mailnotifier) }}

# notifyd(8) method to use for "SIEVE" notifications.  If not set, "SIEVE"
# notifications are disabled.  This method is only used when no method is
# specified in the script.  Valid methods are null, log, zephyr, mailto
#sievenotifier: zephyr
{{ ifdef('sievenotifier', cyrus_sievenotifier) }}

# DRAC (pop-before-smtp, imap-before-smtp) support
# Set dracinterval to the time in minutes to call DRAC while a user is
# connected to the imap/pop services. Set to 0 to disable DRAC (default)
# Set drachost to the host where the rpc drac service is running
#dracinterval: 0
#drachost: localhost
{{ ifdef('dracinterval', cyrus_dracinterval) }}
{{ ifdef('drachost', cyrus_drachost) }}

# If enabled, the partitions will also be hashed, in addition to the hashing
# done on configuration directories. This is recommended if one partition has a
# very bushy mailbox tree.
hashimapspool: {{ cyrus_hashimapspool | default('true') }} 

# Allow plaintext logins by default (SASL PLAIN)
allowplaintext: {{ cyrus_allowplaintext | default('yes') }}

# Force PLAIN/LOGIN authentication only
# (you need to uncomment this if you are not using an auxprop-based SASL
# mechanism.  saslauthd users, that means you!). And pay attention to
# sasl_minimum_layer and allowapop below, too.
{{ ifdef('sasl_mech_list', cyrus_sasl_mech_list) }}

# Allow use of the POP3 APOP authentication command.
# Note that this command requires that the plaintext passwords are
# available in a SASL auxprop backend (eg. sasldb), and that the system
# can provide enough entropy (eg. from /dev/urandom) to create a challenge
# in the banner.
#allowapop: no
{{ ifdef('allowapop', cyrus_allowapop) }}

# The minimum SSF that the server will allow a client to negotiate. A
# value of 1 requires integrity protection; any higher value requires some
# amount of encryption.
{{ ifdef('sasl_minimum_layer', cyrus_sasl_minimum_layer) }}

# The maximum SSF that the server will allow a client to negotiate. A
# value of 1 requires integrity protection; any higher value requires some
# amount of encryption.
#sasl_maximum_layer: 256
{{ ifdef('sasl_maximum_layer', cyrus_sasl_maximum_layer) }}

# Path to the saslauthd directory containing the mux socket
{{ ifdef('sasl_saslauthd_path', cyrus_sasl_saslauthd_path) }}

# List of remote realms whose users may log in using cross-realm
# authentications. Seperate each realm name by a space. A cross-realm
# identity is considered any identity returned by SASL with an "@" in it.
# NOTE: To support multiple virtual domains on the same interface/IP,
# you need to list them all as loginreals. If you don't list them here,
# (most of) your users probably won't be able to log in.
#loginrealms: example.com
{% if cyrus_loginrealms is defined %}
loginrealms: {{ cyrus_loginrealms | join(" ") }}
{% endif %}

# Enable virtual domain support.  If enabled, the user's domain will
# be determined by splitting a fully qualified userid at the last '@'
# or '%' symbol.  If the userid is unqualified, and the virtdomains
# option is set to "on", then the domain will be determined by doing
# a reverse lookup on the IP address of the incoming network
# interface, otherwise the user is assumed to be in the default
# domain (if set).

{{ ifdef('virtdomains', cyrus_virtdomains) }}


# The default domain for virtual domain support
# If the domain of a user can't be taken from its login and it can't
# be determined by doing a reverse lookup on the interface IP, this
# domain is used.
{{ ifdef('defaultdomain', cyrus_defaultdomain) }}


#
# SASL library options (these are handled directly by the SASL libraries,
# refer to SASL documentation for an up-to-date list of these)
#

# The mechanism(s) used by the server to verify plaintext passwords. Possible
# values are "saslauthd", "auxprop", "pwcheck" and "alwaystrue".  They
# are tried in order, you can specify more than one, separated by spaces.
#
# Do note that, since sasl will be run as user cyrus, you may have a lot of
# trouble to set this up right.
{{ ifdef('sasl_pwcheck_method', cyrus_sasl_pwcheck_method, 'auxprop') }}

# auxprop specific configuration
{% if cyrus_sasl_pwcheck_method == 'auxprop' and cyrus_sasl_auxprop_plugin=='mysql' %}
sasl_mysql_user: {{ cyrus_sasl_mysql_user }}
sasl_mysql_passwd: {{ cyrus_sasl_mysql_passwd | default('') }}
sasl_mysql_hostnames: {{ cyrus_sasl_mysql_hostnames | default('localhost') }}
sasl_mysql_database: {{ cyrus_sasl_mysql_database }}
sasl_mysql_statement: {{ cyrus_sasl_mysql_statement }}
sasl_mysql_verbose: {{ cyrus_sasl_mysql_verbose | default('no') }}
{% endif %}



# What auxpropd plugins to load, if using sasl_pwcheck_method: auxprop
# by default, all plugins are tried (which is probably NOT what you want).
#sasl_auxprop_plugin: sasldb
{{ ifdef('sasl_auxprop_plugin', cyrus_sasl_auxprop_plugin) }} 

# If enabled, the SASL library will automatically create authentication secrets
# when given a plaintext password. Refer to SASL documentation
{{ ifdef('sasl_auto_transition', cyrus_sasl_auto_transition, "no") }}

#
# SSL/TLS Options
#

# File containing the global certificate used for ALL services (imap, pop3,
# lmtp, sieve)
{{ ifdef('tls_server_cert', cyrus_tls_cert_file) }}

# File containing the private key belonging to the global server certificate.
{{ ifdef('tls_server_key', cyrus_tls_key_file) }}

# File containing the certificate used for imap. If not specified, the global
# certificate is used.  A value of "disabled" will disable SSL/TLS for imap.
#imap_tls_cert_file: /etc/ssl/certs/cyrus-imap.pem
{{ ifdef('imap_tls_cert_file', cyrus_imap_tls_cert_file) }}

# File containing the private key belonging to the imap-specific server
# certificate.  If not specified, the global private key is used.  A value of
# "disabled" will disable SSL/TLS for imap.
#imap_tls_key_file: /etc/ssl/private/cyrus-imap.key
{{ ifdef("imap_tls_key_file", cyrus_imap_tls_key_file) }}

# File containing the certificate used for pop3. If not specified, the global
# certificate is used.  A value of "disabled" will disable SSL/TLS for pop3.
#pop3_tls_cert_file: /etc/ssl/certs/cyrus-pop3.pem
{{ ifdef('pop3_tls_cert_file', cyrus_pop3_tls_cert_file) }}

# File containing the private key belonging to the pop3-specific server
# certificate.  If not specified, the global private key is used.  A value of
# "disabled" will disable SSL/TLS for pop3.
#pop3_tls_key_file: /etc/ssl/private/cyrus-pop3.key
{{ ifdef('pop3_tls_key_file', cyrus_pop3_tls_key_file) }}

# File containing the certificate used for lmtp. If not specified, the global
# certificate is used.  A value of "disabled" will disable SSL/TLS for lmtp.
#lmtp_tls_cert_file: /etc/ssl/certs/cyrus-lmtp.pem
{{ ifdef('lmtp_tls_cert_file', cyrus_lmtp_tls_cert_file) }}

# File containing the private key belonging to the lmtp-specific server
# certificate.  If not specified, the global private key is used.  A value of
# "disabled" will disable SSL/TLS for lmtp.
#lmtp_tls_key_file: /etc/ssl/private/cyrus-lmtp.key
{{ ifdef('lmtp_tls_key_file', cyrus_lmtp_tls_key_file) }}

# File containing the certificate used for sieve. If not specified, the global
# certificate is used.  A value of "disabled" will disable SSL/TLS for sieve.
#sieve_tls_cert_file: /etc/ssl/certs/cyrus-sieve.pem
{{ ifdef('sieve_tls_cert_file', cyrus_sieve_tls_cert_file) }}

# File containing the private key belonging to the sieve-specific server
# certificate.  If not specified, the global private key is used.  A value of
# "disabled" will disable SSL/TLS for sieve.
#sieve_tls_key_file: /etc/ssl/private/cyrus-sieve.key
{{ ifdef('sieve_tls_key_file', cyrus_sieve_tls_key_file) }}

# File containing one or more Certificate Authority (CA) certificates.
{{ ifdef('tls_ca_file', cyrus_tls_ca_file) }}

# Path to directory with certificates of CAs.
{{ ifdef('tls_ca_path', cyrus_tls_ca_path, '/etc/ssl/certs') }}

# The length of time (in minutes) that a TLS session will be cached for later
# reuse.  The maximum value is 1440 (24 hours), the default.  A value of 0 will
# disable session caching.
tls_session_timeout: {{ cyrus_tls_session_timeout | default('1440') }}


# The list of SSL/TLS ciphers to allow, in decreasing order of precedence.
# The format of the string is described in ciphers(1).  The Debian default
# selects TLSv1 high-security ciphers only, and removes all anonymous ciphers
# from the list (because they provide no defense against man-in-the-middle
# attacks).  It also orders the list so that stronger ciphers come first.
tls_cipher_list: {{ cyrus_tls_cipher_list | default('TLSv1+HIGH:!aNULL:@STRENGTH') }}

# Require a client certificate for ALL services (imap, pop3, lmtp, sieve).
#tls_require_cert: false
tls_versions: {{ cyrus_tls_versions | default('tls1_0 tls1_1 tls1_2') }}

# Require a client certificate for imap ONLY.
#imap_tls_require_cert: false
{{ ifdef('imap_tls_require_cert', cyrus_imap_tls_require_cert) }}

# Require a client certificate for pop3 ONLY.
#pop3_tls_require_cert: false
{{ ifdef('pop3_tls_require_cert', cyrus_pop3_tls_require_cert) }}

# Require a client certificate for lmtp ONLY.
#lmtp_tls_require_cert: false
{{ ifdef('lmtp_tls_require_cert', cyrus_lmtp_tls_require_cert) }}

# Require a client certificate for sieve ONLY.
#sieve_tls_require_cert: false
{{ ifdef('sieve_tls_require_cert', cyrus_sieve_tls_require_cert) }}

#
# Cyrus Murder cluster configuration
#
# Set the following options to the values needed for this server to
# autenticate against the mupdate master server:
# mupdate_server
# mupdate_port
# mupdate_username
# mupdate_authname
# mupdate_realm
# mupdate_password
# mupdate_retry_delay

##
## KEEP THESE IN SYNC WITH cyrus.conf
##
# Unix domain socket that lmtpd listens on.
lmtpsocket: {{ cyrus_lmtpunixsocket | default('/var/run/cyrus/socket/lmtp') }}

# The idle backend to use for IDLE command.
# Options: poll (default), idled, no
# poll doesn't need the idled daemon and is supposed to be more robust.
# however it doesn't update as quickly as the idled backend does. "no"
# turns off IDLE support. If set to "idled", you will also need to enable
# the "idled" entry in cyrus.conf.
idlemethod: {{ cyrus_idlemethod | default('poll') }}

# Unix domain socket that idled listens on.
idlesocket: {{ cyrus_idlesocket | default('/var/run/cyrus/socket/idle') }}

# Unix domain socket that the new mail notification daemon listens on.
notifysocket: {{ cyrus_notifysocket | default('/var/run/cyrus/socket/notify') }}

# Syslog prefix. Defaults to cyrus (so logging is done as cyrus/imap etc.)
syslog_prefix: {{ cyrus_syslog_prefix | default('cyrus') }}

##
## DEBUGGING
##
# Debugging hook. See /usr/share/doc/cyrus-common-2.2/README.Debian.debug
# Keep the hook disabled when it is not in use
#
# gdb Back-traces
#debug_command: /usr/bin/gdb -batch -cd=/tmp -x /usr/lib/cyrus/get-backtrace.gdb /usr/lib/cyrus/bin/%s %d >/tmp/gdb-backtrace.cyrus.%1$s.%2$d <&- 2>&1 &
#
# system-call traces
#debug_command: /usr/bin/strace -tt -o /tmp/strace.cyrus.%s.%d -p %2$d <&- 2>&1 &
#
# library traces
#debug_command: /usr/bin/ltrace -tt -n 2 -o /tmp/ltrace.cyrus.%s.%d -p %2$d <&- 2>&1 &

allowusermoves: yes

{{ ifdef('autocreateinboxfolders', cyrus_autocreateinboxfolders) }}

{{ ifdef('autosubscribeinboxfolders', cyrus_autosubscribeinboxfolders) }}

{{ ifdef('postuser', cyrus_postuser) }}


{% if cyrus_sync_client %}
sync_host: {{cyrus_sync_host}}
sync_authname: {{cyrus_sync_authname}}
sync_password: {{cyrus_sync_password}}
sync_compress: {{cyrus_sync_compress | default('1')}}
sync_log: {{cyrus_sync_log | default('1')}}
{% endif %}
